<h1>BMI</h1>
<hr>
<h1 style="text-align: center">Räkna ut ditt BMI</h1>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">



  <div *ngIf="!f.submitted">

  <div class="form-group">
    <label for="height"></label>
    <input ngModel required class="form-control" type="number" name="height" placeholder="längd i cm">
  </div>

  <div class="form-group">
    <label for="weight"></label>
    <input ngModel required type="number" name="weight" placeholder="vikt i kg" class="form-control">
  </div>

  <button [disabled]="!f.valid" type="submit" class="btn btn-primary">Beräkna</button>
</div>

<div *ngIf="f.submitted">
    <div class="bmi-calc-container">
      <div class="bmi-result-container">
          <div>Ditt BMI är 
            <span class="bmi-result" 
            [ngClass]="{'above-avg':bmiResult >= 25.1, 'avg':bmiResult >= 19 && bmiResult < 25.1, 'below-avg': bmiResult < 19}">{{ bmiResult }}
          </span>
        </div>
      </div>
        
        <div class="bmi-explanation-container">
          <div class="bmi-underweight">
            <div class="bmi-underweight-label">undervikt</div>
            <div class="bmi-underweight-value">&lt;19</div>
          </div>
          <div class="bmi-normalweight">
            <div class="bmi-normalweight-label">normalvikt</div>
            <div class="bmi-normalweight-value">19,1 - 25</div>
          </div>
          <div class="bmi-overweight">
            <div class="bmi-overweight-label">övervikt</div>
            <div class="bmi-overweight-value">&gt;25.1</div>
          </div>
        </div>
    </div>
</div>

</form>
<hr>

